-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .container
    .card
      .card-header
        .form-inputs
        = f.input :title
        = f.label :description
      .card-text 
      %p
      = f.rich_text_area :description
      .form-actions
        = f.button :submit, class: 'btn btn-primary'
