.container
  = link_to 'Course', courses_path(@course)
  \/
  = link_to @course.title, course_path(@course)
  %p
.card.text-center.w-75.mx-auto
  .card-header
    = @course.title
  .card-body
    %p.card-text
    = @course.description
  .card-footer
    .fas.fa-globe-asia
    = @course.language
    .fas.fa-signal
    = @course.level
    .fas.fa-money-check-alt
    = number_to_currency(@course.price)
  .card-footer.text-muted
    .far.fa-user
    = @course.user
    %br
    .far.fa-clock
    = @course.created_at.strftime('%d-%b-%Y') 
    %br
    = link_to 'Show', @course, class: 'btn btn-sm btn-primary'
    = link_to 'Edit', edit_course_path(@course), class: 'btn btn-sm btn-warning'
    = link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger'
